<h2>All Available Tricks</h2>

<ol>
<% @tricks.each do |trick| %>
    <li><%= link_to trick.name, trick_path(trick) %> - <%= add_trick_to_course(@course, trick) if @course %></li>
<% end %>
</ol>

<% if trainer_logged_in? && @course %>
    <%= link_to 'Create new Trick', new_course_trick_path(@course) %>
<% end %>