<h2>All Available Tricks</h2>

<ol>
<% @tricks.each do |trick| %>
    <li><%= @course ? link_to(trick.name, course_trick_path(@course, trick)) : link_to(trick.name, trick_path(trick)) %> </li>
<% end %>
</ol>

<% if trainer_logged_in? && @course %>
    <%= link_to 'Create new Trick', new_course_trick_path(@course) %>
<% end %>