<h2>New Trick</h2>

<% if @trick.errors.any? %>
    <ul>
    <% @trick.errors.full_messages.each do |error| %>
        <li><%= error %><br></li>
    <% end %>
    </ul>
<% end %>

<%= form_with(model: [@course, @trick]) do |f| %>
  <%= render 'form' %>
<% end %>