<h2><%= @trick.name %></h2>
Description: <%= @trick.description %><br>
Difficulty Rating: <%= @trick.difficulty_rating %><br>

<% if session[:trainer_id] %>
    <%= link_to 'Edit Trick', edit_trick_path(@trick) %>
<% end %>