<h2>Your Dogs</h2>

<ul>
<% @dogs.each do |dog| %>
    <li><%= link_to dog.name, dog_path(dog) %></li>
<% end %>
</ul>

<% if @user %>
    <%= link_to 'Add New User Dog', new_user_dog_path %>
<% else %>
    <%= link_to 'Add New Dog', new_dog_path %>
<% end %>