<h2>Your Dogs</h2>

<ul class="dog-list">
<% @dogs.each do |dog| %>
    <li>
        <% if dog.avatar.attached? %>
            <%=image_tag dog.avatar.variant(resize_to_limit: [100, 100]), class: "dog-image" %><br>
        <% end %>
        <%= link_to dog.name, dog_path(dog) %>
    </li>
<% end %>
</ul>

 <%= link_to 'Add A New Dog', new_user_dog_path %>