<h1>Dog Training</h1>
<h3>Login with</h3>
<%= link_to image_tag("/images/facebook-logo.png", border: 0), 'auth/facebook', class: "login-logo" %>
<%= link_to image_tag("/images/google-logo.png", border: 0), 'auth/google', class: "login-logo" %>