<h2>Edit Course Info</h2>

<% if @course.errors.any? %>
    <ul>
    <% @course.errors.full_messages.each do |error| %>
        <li><%= error %><br></li>
    <% end %>
    </ul>
<% end %>

<%= form_for @course do |f| %>
    <%= render 'form' %>
<% end %>