<h2>Courses available at [Dog Training Company Name]</h2>
<ul>
<% @courses.each do |course| %>
    <li><%= course.name %> - <%= course.training_sessions.count %> available <%= course.training_sessions.count == 1 ? "class" : "classes" %>.</li>
<% end %>
</ul>