<h2>Add a New Course</h2>

<% if @course.errors.any? %>
    <ul>
    <% @course.errors.full_messages.each do |error| %>
        <li><%= error %><br></li>
    <% end %>
    </ul>
<% end %>

<%= form_with(model: @course) do |f| %>
    <%= render 'form' %>
<% end %>