// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.left-side {
    width: 50%;
    float: left;
}

.right-side {
    width: 50%;
    float: right;
}