// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.center-align {
    text-align: center;
    justify-content: center;
}

.welcome {
    
}

div.welcome {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #52bad5;
    height: 5em;
    margin: 0px;
    align-items: center;
}

.dogs {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 5em;
}

.dog-pic {
    float: left;
    display: block;
    left: 0px;
    width: 25%; 
    height: 500px; 
    margin: 0px;  
}

.session{
    position: relative;
    top: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.column {
    float: left;
    left: 30px;
    width: 40%;
    height: 200px;
    margin: 10px;
    // border-color: rgb(45, 105, 184);
    // border-style: solid;
}

.header {
    
}

.logo {
    width: 30px;
    height: 30px;
}

.grass {
    position: fixed -10;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 25%;
   text-align: center;
}