// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.center-align{
    text-align: center;
}

.login-box{
    background-color: rgb(97, 141, 207);
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}

.login-links{
    text-align: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.Oauth{
    text-align: center;
    
}

.logo{
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
}

.signin-box{
    background-color: rgb(97, 141, 207);
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}

.login{
    padding: 10px;
    background-color: rgb(86, 172, 206);
    border-radius: 5px;
    width: 200px;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}

.signin-links{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding-right: 40px;
    padding-left: 40px;
}