// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.center-align {
    text-align: center;
    justify-content: center;
}

// .login-box {
//     width: 500px;
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     justify-content: center;
//     text-align: center;
//     border-radius: 10px;
//     border-style: solid;
//     border-color:  rgb(0, 150, 209);
//     border-width: 20px;
// }

.login-links {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.Oauth {
    text-align: center;
    
}

.logo {
    width: 30px;
    height: 30px;
}

.signin-box {
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    // border-radius: 10px;
    // border-style: solid;
    // border-color:  rgb(0, 150, 209);
    // border-width: 20px;
}

.login {
    padding: 10px;
    background-color: rgb(130, 251, 255);
    border-radius: 5px;
    width: 200px;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}

.signin-links {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    padding-right: 40px;
    padding-left: 40px;
}

a:link {
    padding: 5px;
    color: rgb(190, 255, 146);
    font-size: 20px;
}

a:visited {
    color: rgb(119, 207, 60);
}

a:hover {
    color: crimson;
}

.header {
    color: rgb(130, 251, 255);
    text-shadow: 4px 2px 7px red;
}

h2.header {
    font-size: 35px;
}

h1 {
    font-size: 50px;
}

.casper {
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-style: solid;
    border-color: red;
    border-width: 5px;
    
}

.create-link {
    background-color: rgb(109, 248, 253);
    padding: 10px;
    border-radius: 10px;
}